In [1]:
!dir

2002FemPreg.dat.gz  CDBRFS08.ASC.gz		     brfss.py
2002FemPreg.dct     PEP_2012_PEPANNRES_with_ann.tsv  nsfg.py
2002FemPreg.tsv     WEEK03.ipynb		     populations.py
2002FemResp.dat.gz  __pycache__			     thinkplot.py
2002FemResp.dct     analytic.py			     thinkstats2.py
2002FemResp.tsv     babyboom.dat
BRFSS.tsv	    babyboom.tsv

In [2]:
import nsfg # national survey of family growth
import pandas as pd

In [3]:
preg = pd.read_csv("./2002FemPreg.tsv", sep="\t")   # tsv는 tab separated... 이니깐 tab 기준으로 separate
preg.head()

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
0,1,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,8.8125
1,1,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,3410.389399,3869.349602,6448.271112,2,9,NaN,7.8750
2,2,1,NaN,NaN,NaN,NaN,5.0,NaN,3.0,5.0,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,9.1250
3,2,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,7.0000
4,2,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,7226.301740,8567.549110,12999.542264,2,12,NaN,6.1875

In [4]:
preg.columns

Index(['caseid', 'pregordr', 'howpreg_n', 'howpreg_p', 'moscurrp', 'nowprgdk',
       'pregend1', 'pregend2', 'nbrnaliv', 'multbrth',
       ...
       'laborfor_i', 'religion_i', 'metro_i', 'basewgt', 'adj_mod_basewgt',
       'finalwgt', 'secu_p', 'sest', 'cmintvw', 'totalwgt_lb'],
      dtype='object', length=244)

In [5]:
preg.columns[1]

'pregordr'

In [6]:
# pandas 자료형
# DataFrame : 여러 개의 column으로 되어있는자료형
# Series : 1개의 Column만 있는 것
print(type(preg))   # DF
print(type(preg['pregordr']))   # Series

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [7]:
preg['pregordr']

0        1
1        2
2        1
3        2
4        3
        ..
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [8]:
preg.pregordr

0        1
1        2
2        1
3        2
4        3
        ..
13588    1
13589    2
13590    3
13591    4
13592    5
Name: pregordr, Length: 13593, dtype: int64

In [9]:
preg.outcome

0        1
1        1
2        1
3        1
4        1
        ..
13588    1
13589    2
13590    2
13591    1
13592    1
Name: outcome, Length: 13593, dtype: int64

In [10]:
preg['outcome'].value_counts() # 1의 개수 \t N개 이런 식임. 오른쪽의 값에 따라 정렬

1    9148
4    1921
2    1862
6     352
5     190
3     120
Name: outcome, dtype: int64

In [11]:
preg.outcome.value_counts().sort_index()    # idx 기준으로 정렬

1    9148
2    1862
3     120
4    1921
5     190
6     352
Name: outcome, dtype: int64

In [12]:
preg['birthwgt_lb'].value_counts().sort_index()

0.0        8
1.0       40
2.0       53
3.0       98
4.0      229
5.0      697
6.0     2223
7.0     3049
8.0     1889
9.0      623
10.0     132
11.0      26
12.0      10
13.0       3
14.0       3
15.0       1
Name: birthwgt_lb, dtype: int64

In [13]:
caseid = 10229
preg_map = nsfg.MakePregMap(preg)   # MakePregMap은 책 만든 사람이 만든 함수. index로 주어지는 거 받아오는 함수
preg.outcome[preg_map[caseid]].values   # outcome 1은 정상 4는 유산

array([4, 4, 4, 4, 4, 4, 1])

In [14]:
preg[11093:11100]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,laborfor_i,religion_i,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb
11093,10229,1,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11094,10229,2,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11095,10229,3,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11096,10229,4,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11097,10229,5,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11098,10229,6,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,NaN
11099,10229,7,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,0,0,1914.323805,2021.999794,3369.662656,2,65,NaN,7.6875

In [15]:
from collections import defaultdict
preg_map2 = defaultdict(list)
for idx, caseid in preg.caseid.iteritems(): # iteritems하면 한 줄씩 iteration 진행됨. caseid는 idx에 위치함
    preg_map2[caseid].append(idx)

preg.outcome[preg_map2[10229]].values

array([4, 4, 4, 4, 4, 4, 1])

## 실습

In [16]:
preg.birthord.value_counts()

1.0     4413
2.0     2874
3.0     1234
4.0      421
5.0      126
6.0       50
7.0       20
8.0        7
9.0        2
10.0       1
Name: birthord, dtype: int64

In [17]:
preg.birthord.isnull().sum()    # null, 즉 공백으로 처리된 개수 구해줌

4445

In [18]:
preg["prglngth"].value_counts().sort_index()

0       15
1        9
2       78
3      151
4      412
5      181
6      543
7      175
8      409
9      594
10     137
11     202
12     170
13     446
14      29
15      39
16      44
17     253
18      17
19      34
20      18
21      37
22     147
23      12
24      31
25      15
26     117
27       8
28      38
29      23
30     198
31      29
32     122
33      50
34      60
35     357
36     329
37     457
38     609
39    4744
40    1120
41     591
42     328
43     148
44      46
45      10
46       1
47       1
48       7
50       2
Name: prglngth, dtype: int64

In [19]:
preg.totalwgt_lb.mean()

7.265628457623368

In [20]:
def lb2kg(weightinlb):
    return 0.45359237 * weightinlb

preg["totalwgt_kg"] = preg.totalwgt_lb.apply(lb2kg) # apply로 새로운 series 만들어줌

In [23]:
preg[["totalwgt_lb", "totalwgt_kg"]]    # list로 주어주면 list 안의 원소를 column으로 가지는 df 만들어줌

       totalwgt_lb  totalwgt_kg
0           8.8125     3.997283
1           7.8750     3.572040
2           9.1250     4.139030
3           7.0000     3.175147
4           6.1875     2.806603
...            ...          ...
13588       6.1875     2.806603
13589          NaN          NaN
13590          NaN          NaN
13591       7.5000     3.401943
13592       7.5000     3.401943

[13593 rows x 2 columns]

In [26]:
preg["totalwgt_kg2"] = preg["totalwgt_lb"]*0.45359237   # 이렇게 한 번에도 가능. apply보다 빠름

In [27]:
preg[["totalwgt_kg", "totalwgt_kg2", "totalwgt_lb"]]

       totalwgt_kg  totalwgt_kg2  totalwgt_lb
0         3.997283      3.997283       8.8125
1         3.572040      3.572040       7.8750
2         4.139030      4.139030       9.1250
3         3.175147      3.175147       7.0000
4         2.806603      2.806603       6.1875
...            ...           ...          ...
13588     2.806603      2.806603       6.1875
13589          NaN           NaN          NaN
13590          NaN           NaN          NaN
13591     3.401943      3.401943       7.5000
13592     3.401943      3.401943       7.5000

[13593 rows x 3 columns]

In [28]:
!dir

2002FemPreg.dat.gz  CDBRFS08.ASC.gz		     brfss.py
2002FemPreg.dct     PEP_2012_PEPANNRES_with_ann.tsv  nsfg.py
2002FemPreg.tsv     WEEK03.ipynb		     populations.py
2002FemResp.dat.gz  __pycache__			     thinkplot.py
2002FemResp.dct     analytic.py			     thinkstats2.py
2002FemResp.tsv     babyboom.dat
BRFSS.tsv	    babyboom.tsv

In [29]:
resp = pd.read_csv("./2002FemResp.tsv", sep="\t")

In [30]:
resp.head() # resp[:5]와 동일

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667
1,5012,1,5,1,5,5.0,42,42,718,42,...,0,2335.279149,2846.799490,4744.191350,2,18,1233,1221,16:30:59,64.294000
2,11586,1,5,1,5,5.0,43,43,708,43,...,0,2335.279149,2846.799490,4744.191350,2,18,1234,1222,18:19:09,75.149167
3,6794,5,5,4,1,5.0,15,15,1042,15,...,0,3783.152221,5071.464231,5923.977368,2,18,1234,1222,15:54:43,28.642833
4,616,1,5,4,1,5.0,20,20,991,20,...,0,5341.329968,6437.335772,7229.128072,2,18,1233,1221,14:19:44,69.502667

In [31]:
resp.tail() # resp[:-5]와 동일

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
7638,11018,1,5,2,5,3.0,34,34,811,34,...,0,3247.445399,3784.333145,6565.818007,2,76,1228,1216,15:57:38,82.907333
7639,6075,5,5,3,5,3.0,17,17,1014,17,...,0,2273.211779,2497.234491,4392.385746,2,76,1228,1216,18:23:53,54.044833
7640,5649,1,5,2,5,5.0,29,29,873,29,...,0,3247.445399,3569.313710,6003.228729,2,76,1228,1216,18:42:41,68.168000
7641,501,5,5,3,5,2.0,16,16,1034,16,...,0,5304.160818,5954.644352,10473.623950,2,76,1228,1216,16:02:45,32.717333
7642,10252,1,5,2,5,2.0,28,28,889,28,...,0,3247.445399,3476.637428,5847.356491,2,76,1230,1218,12:45:19,74.061500

In [32]:
resp["age_r"].max()

44

In [33]:
resp["age_r"].min()

15

In [34]:
resp[resp["caseid"] == 2298]

,caseid,rscrinf,rdormres,rostscrn,rscreenhisp,rscreenrace,age_a,age_r,cmbirth,agescrn,...,pubassis_i,basewgt,adj_mod_basewgt,finalwgt,secu_r,sest,cmintvw,cmlstyr,screentime,intvlngth
0,2298,1,5,5,1,5.0,27,27,902,27,...,0,3247.916977,5123.759559,5556.717241,2,18,1234,1222,18:26:36,110.492667

In [35]:
preg[preg["caseid"] == 2298]

,caseid,pregordr,howpreg_n,howpreg_p,moscurrp,nowprgdk,pregend1,pregend2,nbrnaliv,multbrth,...,metro_i,basewgt,adj_mod_basewgt,finalwgt,secu_p,sest,cmintvw,totalwgt_lb,totalwgt_kg,totalwgt_kg2
2610,2298,1,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.118448,3.118448
2611,2298,2,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,3247.916977,5123.759559,5556.717241,2,18,NaN,5.5000,2.494758,2.494758
2612,2298,3,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,3247.916977,5123.759559,5556.717241,2,18,NaN,4.1875,1.899418,1.899418
2613,2298,4,NaN,NaN,NaN,NaN,6.0,NaN,1.0,NaN,...,0,3247.916977,5123.759559,5556.717241,2,18,NaN,6.8750,3.118448,3.118448

In [38]:
preg[preg["caseid"] == 2298]["prglngth"]    # 몇 주동안 임신을 진행했는가!

2610    40
2611    36
2612    30
2613    40
Name: prglngth, dtype: int64

In [39]:
preg[preg["caseid"] == 2298]["birthwgt_lb"].iloc[0] # 특정 col의 값 나오도록 함

6.0

In [40]:
preg[preg["caseid"] == 2298]["birthwgt_lb"]

2610    6.0
2611    5.0
2612    4.0
2613    6.0
Name: birthwgt_lb, dtype: float64

In [41]:
preg["caseid"] == 2298  # 이렇게 넣으면 caseid가 2298인지에 대한 true, false만 나타내줌

0        False
1        False
2        False
3        False
4        False
         ...
13588    False
13589    False
13590    False
13591    False
13592    False
Name: caseid, Length: 13593, dtype: bool

In [42]:
preg[preg["birthord"] == 1]["prglngth"].mean()  # 평균적으로 첫 번째 아이는 몇 주에 나오는가

38.60095173351461

In [43]:
preg[preg["birthord"] > 1]["prglngth"].mean()   # 둘째부터의 아이는 몇 주만에 나오는가

38.52291446673706