<a href="https://colab.research.google.com/github/pseeej/SmartSystemsSoftware/blob/master/BigdataAnalysisInBiz/5%EC%A3%BC%EC%B0%A8_%EB%85%B9%ED%99%94_%EB%B0%8F_%EC%8B%A4%EC%8B%9C%EA%B0%84_%EA%B0%95%EC%9D%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

교재 : SQL로 맛보는 데이터 전처리 분석, 노수영

**실습 참고자료**

https://www.sqlitetutorial.net/
<br>https://www.w3schools.com/sql/default.asp

#실습환경 셋업

## 1) sqlite 업그레이드

In [2]:
!apt-get update
!apt-get upgrade sqlite3
!sudo apt-get install python3-dev default-libmysqlclient-dev
!pip install pymysql

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:11 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [607 kB]
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,431 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,367 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,210 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,803 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [640 kB]
Fetched 10.3 MB in 3s (2,989 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following NEW packages will be installed:
  sqlite3
The following packages have been kept back:
  libcudnn8 libcudnn8-dev libnccl-dev libnccl2
The following packages will be upgraded:
  base-files binutils binutils-common binutils-x86-64-linux-gnu gnupg2 gzip
  libaudit-common libaudit1 libbinutils libc-bin libcublas-dev libcublas10
  libcudnn7 libcudnn7-dev libgnutls30 libhogweed4 libldap-2.4-2 libldap-common
  liblz4-1 libnettle6 libp11-kit0 libpam-modules libpam-modules-bin
  libpam-runtime libpam0g libsasl2-2 libsasl2-modules-db libseccomp2 libzstd1
  linux-libc-dev openssl tar ubuntu-keyring
33 upgraded, 1 newly installed, 0 to remove and 4 not upgraded.
Need to get 448 MB of archives.
After this operation, 72.1 MB of additional disk space will be used.
Get:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  libcublas10 10.2.3.254-1 [43.1 MB]
Get:2 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 base-files amd64 10.1ubuntu2.11 [60.4 kB]
Get:3 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 gzip amd64 1.6-5ubuntu1.1 [89.8 kB]
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 tar amd64 1.29b-2ubuntu0.2 [234 kB]
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libc-bin amd64 2.27-3ubuntu1.4 [643 kB]
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  libcublas-dev 10.2.3.254-1 [42.4 MB]
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libaudit-common all 1:2.8.2-1ubuntu1.1 [4,068 B]
Get:8 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libaudit1 amd64 1:2.8.2-1ubuntu1.1 [38.7 kB]
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpam0g amd64 1.1.8-3.6ubuntu2.18.04.3 [55.0 kB]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpam-modules-bin amd64 1.1.8-3.6ubuntu2.18.04.3 [40.3 kB]
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpam-modules amd64 1.1.8-3.6ubuntu2.18.04.3 [252 kB]
Get:12 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 liblz4-1 amd64 0.0~r131-2ubuntu3.1 [48.5 kB]
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libpam-runtime all 1.1.8-3.6ubuntu2.18.04.3 [37.1 kB]
Get:14 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libzstd1 amd64 1.3.3+dfsg-2ubuntu1.2 [189 kB]
Get:15 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libnettle6 amd64 3.4.1-0ubuntu0.18.04.1 [111 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libhogweed4 amd64 3.4.1-0ubuntu0.18.04.1 [140 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libp11-kit0 amd64 0.23.9-2ubuntu0.1 [187 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libgnutls30 amd64 3.5.18-1ubuntu1.5 [646 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libseccomp2 amd64 2.5.1-1ubuntu1~18.04.1 [43.1 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 ubuntu-keyring all 2018.09.18.1~18.04.2 [22.3 kB]
Get:21 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 openssl amd64 1.1.1-1ubuntu2.1~18.04.13 [614 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 binutils-x86-64-linux-gnu amd64 2.30-21ubuntu1~18.04.5 [1,839 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 binutils-common amd64 2.30-21ubuntu1~18.04.5 [197 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 binutils amd64 2.30-21ubuntu1~18.04.5 [3,388 B]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libbinutils amd64 2.30-21ubuntu1~18.04.5 [489 kB]
Get:26 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libsasl2-modules-db amd64 2.1.27~101-g0780600+dfsg-3ubuntu2.3 [15.0 kB]
Get:27 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libsasl2-2 amd64 2.1.27~101-g0780600+dfsg-3ubuntu2.3 [49.2 kB]
Get:28 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libldap-common all 2.4.45+dfsg-1ubuntu1.10 [15.8 kB]
Get:29 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 libldap-2.4-2 amd64 2.4.45+dfsg-1ubuntu1.10 [154 kB]
Get:30 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 linux-libc-dev amd64 4.15.0-159.167 [995 kB]
Get:31 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 sqlite3 amd64 3.22.0-1ubuntu0.4 [752 kB]
Get:32 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 gnupg2 all 2.2.4-1ubuntu1.4 [5,292 B]
Get:33 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  libcudnn7-dev 7.6.5.32-1+cuda10.2 [165 MB]
Get:34 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  libcudnn7 7.6.5.32-1+cuda10.2 [189 MB]
Fetched 448 MB in 10s (46.8 MB/s)
Extracting templates from packages: 100%
Preconfiguring packages ...
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../base-files_10.1ubuntu2.11_amd64.deb ...
Unpacking base-files (10.1ubuntu2.11) over (10.1ubuntu2.10) ...
Setting up base-files (10.1ubuntu2.11) ...
Installing new version of config file /etc/issue ...
Installing new version of config file /etc/issue.net ...
Installing new version of config file /etc/lsb-release ...
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../gzip_1.6-5ubuntu1.1_amd64.deb ...
Unpacking gzip (1.6-5ubuntu1.1) over (1.6-5ubuntu1) ...
Setting up gzip (1.6-5ubuntu1.1) ...
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../tar_1.29b-2ubuntu0.2_amd64.deb ...
Unpacking tar (1.29b-2ubuntu0.2) over (1.29b-2ubuntu0.1) ...
Setting up tar (1.29b-2ubuntu0.2) ...
update-alternatives: warning: forcing reinstallation of alternative /usr/sbin/rmt-tar because link group rmt is broken
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../libc-bin_2.27-3ubuntu1.4_amd64.deb ...
Unpacking libc-bin (2.27-3ubuntu1.4) over (2.27-3ubuntu1.3) ...
Setting up libc-bin (2.27-3ubuntu1.4) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../libaudit-common_1%3a2.8.2-1ubuntu1.1_all.deb ...
Unpacking libaudit-common (1:2.8.2-1ubuntu1.1) over (1:2.8.2-1ubuntu1) ...
Setting up libaudit-common (1:2.8.2-1ubuntu1.1) ...
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../libaudit1_1%3a2.8.2-1ubuntu1.1_amd64.deb ...
Unpacking libaudit1:amd64 (1:2.8.2-1ubuntu1.1) over (1:2.8.2-1ubuntu1) ...
Setting up libaudit1:amd64 (1:2.8.2-1ubuntu1.1) ...
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../libpam0g_1.1.8-3.6ubuntu2.18.04.3_amd64.deb ...
Unpacking libpam0g:amd64 (1.1.8-3.6ubuntu2.18.04.3) over (1.1.8-3.6ubuntu2.18.04.2) ...
Setting up libpam0g:amd64 (1.1.8-3.6ubuntu2.18.04.3) ...
(Reading database ... 155047 files and directories currently installed.)
Preparing to unpack .../libpam-modules-bin_1.1.8-3.6ubuntu2.18.04.3_amd64.deb ...
Unpacking libpam-modules-bin (1.1.8-3.6ubuntu2.18.04.3) over (1.1.8-3.6ubuntu2.18.04.2) ...
Setting up libpam-modules-bin (1.1.8-3.6ubuntu2.18.04.3) ...
(Reading database ... 155049 files and directories currently installed.)
Preparing to unpack .../libpam-modules_1.1.8-3.6ubuntu2.18.04.3_amd64.deb ...
Unpacking libpam-modules:amd64 (1.1.8-3.6ubuntu2.18.04.3) over (1.1.8-3.6ubuntu2.18.04.2) ...
Setting up libpam-modules:amd64 (1.1.8-3.6ubuntu2.18.04.3) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../liblz4-1_0.0~r131-2ubuntu3.1_amd64.deb ...
Unpacking liblz4-1:amd64 (0.0~r131-2ubuntu3.1) over (0.0~r131-2ubuntu3) ...
Setting up liblz4-1:amd64 (0.0~r131-2ubuntu3.1) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../libpam-runtime_1.1.8-3.6ubuntu2.18.04.3_all.deb ...
Unpacking libpam-runtime (1.1.8-3.6ubuntu2.18.04.3) over (1.1.8-3.6ubuntu2.18.04.2) ...
Setting up libpam-runtime (1.1.8-3.6ubuntu2.18.04.3) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../libzstd1_1.3.3+dfsg-2ubuntu1.2_amd64.deb ...
Unpacking libzstd1:amd64 (1.3.3+dfsg-2ubuntu1.2) over (1.3.3+dfsg-2ubuntu1.1) ...
Setting up libzstd1:amd64 (1.3.3+dfsg-2ubuntu1.2) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../libnettle6_3.4.1-0ubuntu0.18.04.1_amd64.deb ...
Unpacking libnettle6:amd64 (3.4.1-0ubuntu0.18.04.1) over (3.4-1) ...
Setting up libnettle6:amd64 (3.4.1-0ubuntu0.18.04.1) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../libhogweed4_3.4.1-0ubuntu0.18.04.1_amd64.deb ...
Unpacking libhogweed4:amd64 (3.4.1-0ubuntu0.18.04.1) over (3.4-1) ...
Setting up libhogweed4:amd64 (3.4.1-0ubuntu0.18.04.1) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../libp11-kit0_0.23.9-2ubuntu0.1_amd64.deb ...
Unpacking libp11-kit0:amd64 (0.23.9-2ubuntu0.1) over (0.23.9-2) ...
Setting up libp11-kit0:amd64 (0.23.9-2ubuntu0.1) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../libgnutls30_3.5.18-1ubuntu1.5_amd64.deb ...
Unpacking libgnutls30:amd64 (3.5.18-1ubuntu1.5) over (3.5.18-1ubuntu1.4) ...
Setting up libgnutls30:amd64 (3.5.18-1ubuntu1.5) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../libseccomp2_2.5.1-1ubuntu1~18.04.1_amd64.deb ...
Unpacking libseccomp2:amd64 (2.5.1-1ubuntu1~18.04.1) over (2.4.3-1ubuntu3.18.04.3) ...
Setting up libseccomp2:amd64 (2.5.1-1ubuntu1~18.04.1) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../ubuntu-keyring_2018.09.18.1~18.04.2_all.deb ...
Unpacking ubuntu-keyring (2018.09.18.1~18.04.2) over (2018.09.18.1~18.04.0) ...
Setting up ubuntu-keyring (2018.09.18.1~18.04.2) ...
(Reading database ... 155053 files and directories currently installed.)
Preparing to unpack .../00-openssl_1.1.1-1ubuntu2.1~18.04.13_amd64.deb ...
Unpacking openssl (1.1.1-1ubuntu2.1~18.04.13) over (1.1.1-1ubuntu2.1~18.04.7) ...
Preparing to unpack .../01-binutils-x86-64-linux-gnu_2.30-21ubuntu1~18.04.5_amd64.deb ...
Unpacking binutils-x86-64-linux-gnu (2.30-21ubuntu1~18.04.5) over (2.30-21ubuntu1~18.04.4) ...
Preparing to unpack .../02-binutils-common_2.30-21ubuntu1~18.04.5_amd64.deb ...
Unpacking binutils-common:amd64 (2.30-21ubuntu1~18.04.5) over (2.30-21ubuntu1~18.04.4) ...
Preparing to unpack .../03-binutils_2.30-21ubuntu1~18.04.5_amd64.deb ...
Unpacking binutils (2.30-21ubuntu1~18.04.5) over (2.30-21ubuntu1~18.04.4) ...
Preparing to unpack .../04-libbinutils_2.30-21ubuntu1~18.04.5_amd64.deb ...
Unpacking libbinutils:amd64 (2.30-21ubuntu1~18.04.5) over (2.30-21ubuntu1~18.04.4) ...
Preparing to unpack .../05-libcublas10_10.2.3.254-1_amd64.deb ...
Unpacking libcublas10 (10.2.3.254-1) over (10.2.1.243-1) ...
Preparing to unpack .../06-libcublas-dev_10.2.3.254-1_amd64.deb ...
Unpacking libcublas-dev (10.2.3.254-1) over (10.2.1.243-1) ...
Preparing to unpack .../07-libcudnn7-dev_7.6.5.32-1+cuda10.2_amd64.deb ...
update-alternatives: removing manually selected alternative - switching libcudnn to auto mode
update-alternatives: using /usr/include/x86_64-linux-gnu/cudnn_v8.h to provide /usr/include/cudnn.h (libcudnn) in auto mode
Unpacking libcudnn7-dev (7.6.5.32-1+cuda10.2) over (7.6.5.32-1+cuda10.1) ...
Preparing to unpack .../08-libcudnn7_7.6.5.32-1+cuda10.2_amd64.deb ...
Unpacking libcudnn7 (7.6.5.32-1+cuda10.2) over (7.6.5.32-1+cuda10.1) ...
Preparing to unpack .../09-libsasl2-modules-db_2.1.27~101-g0780600+dfsg-3ubuntu2.3_amd64.deb ...
Unpacking libsasl2-modules-db:amd64 (2.1.27~101-g0780600+dfsg-3ubuntu2.3) over (2.1.27~101-g0780600+dfsg-3ubuntu2.1) ...
Preparing to unpack .../10-libsasl2-2_2.1.27~101-g0780600+dfsg-3ubuntu2.3_amd64.deb ...
Unpacking libsasl2-2:amd64 (2.1.27~101-g0780600+dfsg-3ubuntu2.3) over (2.1.27~101-g0780600+dfsg-3ubuntu2.1) ...
Preparing to unpack .../11-libldap-common_2.4.45+dfsg-1ubuntu1.10_all.deb ...
Unpacking libldap-common (2.4.45+dfsg-1ubuntu1.10) over (2.4.45+dfsg-1ubuntu1.8) ...
Preparing to unpack .../12-libldap-2.4-2_2.4.45+dfsg-1ubuntu1.10_amd64.deb ...
Unpacking libldap-2.4-2:amd64 (2.4.45+dfsg-1ubuntu1.10) over (2.4.45+dfsg-1ubuntu1.8) ...
Preparing to unpack .../13-linux-libc-dev_4.15.0-159.167_amd64.deb ...
Unpacking linux-libc-dev:amd64 (4.15.0-159.167) over (4.15.0-128.131) ...
Selecting previously unselected package sqlite3.
Preparing to unpack .../14-sqlite3_3.22.0-1ubuntu0.4_amd64.deb ...
Unpacking sqlite3 (3.22.0-1ubuntu0.4) ...
Preparing to unpack .../15-gnupg2_2.2.4-1ubuntu1.4_all.deb ...
Unpacking gnupg2 (2.2.4-1ubuntu1.4) over (2.2.4-1ubuntu1.3) ...
Setting up libcudnn7 (7.6.5.32-1+cuda10.2) ...
Setting up libldap-common (2.4.45+dfsg-1ubuntu1.10) ...
Setting up libsasl2-modules-db:amd64 (2.1.27~101-g0780600+dfsg-3ubuntu2.3) ...
Setting up linux-libc-dev:amd64 (4.15.0-159.167) ...
Setting up libsasl2-2:amd64 (2.1.27~101-g0780600+dfsg-3ubuntu2.3) ...
Setting up libcudnn7-dev (7.6.5.32-1+cuda10.2) ...
update-alternatives: using /usr/include/x86_64-linux-gnu/cudnn_v7.h to provide /usr/include/cudnn.h (libcudnn) in manual mode
Setting up sqlite3 (3.22.0-1ubuntu0.4) ...
Setting up binutils-common:amd64 (2.30-21ubuntu1~18.04.5) ...
Setting up gnupg2 (2.2.4-1ubuntu1.4) ...
Setting up libcublas10 (10.2.3.254-1) ...
Setting up libcublas-dev (10.2.3.254-1) ...
Setting up libldap-2.4-2:amd64 (2.4.45+dfsg-1ubuntu1.10) ...
Setting up openssl (1.1.1-1ubuntu2.1~18.04.13) ...
Setting up libbinutils:amd64 (2.30-21ubuntu1~18.04.5) ...
Setting up binutils-x86-64-linux-gnu (2.30-21ubuntu1~18.04.5) ...
Setting up binutils (2.30-21ubuntu1~18.04.5) ...
Processing triggers for libc-bin (2.27-3ubuntu1.4) ...
/sbin/ldconfig.real: /usr/local/lib/python3.7/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Processing triggers for mime-support (3.60ubuntu1) ...
Reading package lists... Done
Building dependency tree
Reading state information... Done
default-libmysqlclient-dev is already the newest version (1.0.4).
default-libmysqlclient-dev set to manually installed.
python3-dev is already the newest version (3.6.7-1~18.04).
python3-dev set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 4 not upgraded.
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [3]:
!curl https://www.sqlite.org/src/tarball/sqlite.tar.gz?r=release | tar xz
%cd sqlite/
!./configure
!make sqlite3.c
%cd /content
!npx degit coleifer/pysqlite3 -f
!cp sqlite/sqlite3.[ch] .
!python setup.py build_static build
!cp build/lib.linux-x86_64-3.7/pysqlite3/_sqlite3.cpython-37m-x86_64-linux-gnu.so \
     /usr/lib/python3.7/lib-dynload/

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 10.9M  100 10.9M    0     0   9.9M      0  0:00:01  0:00:01 --:--:--  9.9M
/content/sqlite
checking build system type... x86_64-pc-linux-gnu
checking host system type... x86_64-pc-linux-gnu
checking for gcc... gcc
checking whether the C compiler works... yes
checking for C compiler default output file name... a.out
checking for suffix of executables...
checking whether we are cross compiling... no
checking for suffix of object files... o
checking whether we are using the GNU C compiler... yes
checking whether gcc accepts -g... yes
checking for gcc option to accept ISO C89... none needed
checking for a sed that does not truncate output... /bin/sed
checking for grep that handles long lines and -e... /bin/grep
checking for egrep... /bin/grep -E
checking for fgrep... /bin/grep -F
checking for ld used by gcc... /usr/bin/ld
checking if the linker (/usr/bin/ld) is GNU ld... yes
checking for BSD- or MS-compatible name lister (nm)... /usr/bin/nm -B
checking the name lister (/usr/bin/nm -B) interface... BSD nm
checking whether ln -s works... yes
checking the maximum length of command line arguments... 1572864
checking whether the shell understands some XSI constructs... yes
checking whether the shell understands "+="... yes
checking for /usr/bin/ld option to reload object files... -r
checking for objdump... objdump
checking how to recognize dependent libraries... pass_all
checking for ar... ar
checking for strip... strip
checking for ranlib... ranlib
checking command to parse /usr/bin/nm -B output from gcc object... ok
./configure: line 5196: /usr/bin/file: No such file or directory
checking how to run the C preprocessor... gcc -E
checking for ANSI C header files... yes
checking for sys/types.h... yes
checking for sys/stat.h... yes
checking for stdlib.h... yes
checking for string.h... yes
checking for memory.h... yes
checking for strings.h... yes
checking for inttypes.h... yes
checking for stdint.h... yes
checking for unistd.h... yes
checking for dlfcn.h... yes
checking for objdir... .libs
checking if gcc supports -fno-rtti -fno-exceptions... no
checking for gcc option to produce PIC... -fPIC -DPIC
checking if gcc PIC flag -fPIC -DPIC works... yes
checking if gcc static flag -static works... yes
checking if gcc supports -c -o file.o... yes
checking if gcc supports -c -o file.o... (cached) yes
checking whether the gcc linker (/usr/bin/ld) supports shared libraries... yes
checking whether -lc should be explicitly linked in... no
checking dynamic linker characteristics... GNU/Linux ld.so
checking how to hardcode library paths into programs... immediate
checking whether stripping libraries is possible... yes
checking if libtool supports shared libraries... yes
checking whether to build shared libraries... yes
checking whether to build static libraries... yes
checking for a BSD-compatible install... /usr/bin/install -c
checking for special C compiler options needed for large files... no
checking for _FILE_OFFSET_BITS value needed for large files... no
checking for int8_t... yes
checking for int16_t... yes
checking for int32_t... yes
checking for int64_t... yes
checking for intptr_t... yes
checking for uint8_t... yes
checking for uint16_t... yes
checking for uint32_t... yes
checking for uint64_t... yes
checking for uintptr_t... yes
checking for sys/types.h... (cached) yes
checking for stdlib.h... (cached) yes
checking for stdint.h... (cached) yes
checking for inttypes.h... (cached) yes
checking malloc.h usability... yes
checking malloc.h presence... yes
checking for malloc.h... yes
checking for fdatasync... yes
checking for gmtime_r... yes
checking for isnan... yes
checking for localtime_r... yes
checking for localtime_s... no
checking for malloc_usable_size... yes
checking for strchrnul... yes
checking for usleep... yes
checking for utime... yes
checking for pread... yes
checking for pread64... yes
checking for pwrite... yes
checking for pwrite64... yes
checking for tclsh8.7... no
checking for tclsh8.6... tclsh8.6
configure: Version set to 3.36
configure: Release set to 3.36.0
checking whether to support threadsafe operation... yes
checking for library containing pthread_create... -lpthread
checking for library containing pthread_mutexattr_init... none required
checking whether to support shared library linked as release mode or not... no
checking whether to use an in-ram database for temporary tables... no
checking if executables have the .exe suffix... unknown
checking for Tcl configuration... found /usr/lib/tclConfig.sh
checking for existence of /usr/lib/tclConfig.sh... loading
checking for library containing readline... no
checking for library containing tgetent... -lncurses
checking for readline in -lreadline... yes
checking readline.h usability... no
checking readline.h presence... no
checking for readline.h... no
checking for /usr/include/readline.h... no
checking for /usr/include/readline/readline.h... yes
checking for library containing fdatasync... none required
checking build type... release
checking zlib.h usability... yes
checking zlib.h presence... yes
checking for zlib.h... yes
checking for library containing deflate... -lz
checking for library containing dlopen... -ldl
checking whether to support math functions... yes
checking for library containing ceil... -lm
checking whether to support MEMSYS5... no
checking whether to support MEMSYS3... no
checking whether to support FTS3... no
checking whether to support FTS4... no
checking whether to support FTS5... no
checking whether to support JSON... no
checking whether to support LIMIT on UPDATE and DELETE statements... no
checking whether to support GEOPOLY... no
checking whether to support RTREE... no
checking whether to support SESSION... no
configure: creating ./config.status
config.status: creating Makefile
config.status: creating sqlite3.pc
config.status: creating config.h
config.status: executing libtool commands
gcc  -g -O2 -o mkkeywordhash -DSQLITE_ENABLE_MATH_FUNCTIONS  /content/sqlite/tool/mkkeywordhash.c
./mkkeywordhash >keywordhash.h
gcc  -g -O2 -o lemon /content/sqlite/tool/lemon.c
cp /content/sqlite/tool/lempar.c .
cp /content/sqlite/src/parse.y .
./lemon -DSQLITE_ENABLE_MATH_FUNCTIONS  -S parse.y
cat parse.h /content/sqlite/src/vdbe.c | tclsh8.6 /content/sqlite/tool/mkopcodeh.tcl >opcodes.h
tclsh8.6 /content/sqlite/tool/mkopcodec.tcl opcodes.h >opcodes.c
tclsh8.6 /content/sqlite/tool/mkshellc.tcl >shell.c
gcc  -g -O2 -o mksourceid /content/sqlite/tool/mksourceid.c
tclsh8.6 /content/sqlite/tool/mksqlite3h.tcl /content/sqlite >sqlite3.h
cp /content/sqlite/ext/fts5/fts5parse.y .
rm -f fts5parse.h
./lemon  -S fts5parse.y
tclsh8.6 /content/sqlite/ext/fts5/tool/mkfts5c.tcl
cp /content/sqlite/ext/fts5/fts5.h .
rm -rf tsrc
mkdir tsrc
cp -f /content/sqlite/src/alter.c /content/sqlite/src/analyze.c /content/sqlite/src/attach.c /content/sqlite/src/auth.c /content/sqlite/src/backup.c /content/sqlite/src/bitvec.c /content/sqlite/src/btmutex.c /content/sqlite/src/btree.c /content/sqlite/src/btree.h /content/sqlite/src/btreeInt.h /content/sqlite/src/build.c /content/sqlite/src/callback.c /content/sqlite/src/complete.c /content/sqlite/src/ctime.c /content/sqlite/src/date.c /content/sqlite/src/dbpage.c /content/sqlite/src/dbstat.c /content/sqlite/src/delete.c /content/sqlite/src/expr.c /content/sqlite/src/fault.c /content/sqlite/src/fkey.c /content/sqlite/src/func.c /content/sqlite/src/global.c /content/sqlite/src/hash.c /content/sqlite/src/hash.h /content/sqlite/src/hwtime.h /content/sqlite/src/insert.c /content/sqlite/src/legacy.c /content/sqlite/src/loadext.c /content/sqlite/src/main.c /content/sqlite/src/malloc.c /content/sqlite/src/mem0.c /content/sqlite/src/mem1.c /content/sqlite/src/mem2.c /content/sqlite/src/mem3.c /content/sqlite/src/mem5.c /content/sqlite/src/memdb.c /content/sqlite/src/memjournal.c /content/sqlite/src/msvc.h /content/sqlite/src/mutex.c /content/sqlite/src/mutex.h /content/sqlite/src/mutex_noop.c /content/sqlite/src/mutex_unix.c /content/sqlite/src/mutex_w32.c /content/sqlite/src/notify.c /content/sqlite/src/os.c /content/sqlite/src/os.h /content/sqlite/src/os_common.h /content/sqlite/src/os_setup.h /content/sqlite/src/os_unix.c /content/sqlite/src/os_win.c /content/sqlite/src/os_win.h /content/sqlite/src/pager.c /content/sqlite/src/pager.h /content/sqlite/src/parse.y /content/sqlite/src/pcache.c /content/sqlite/src/pcache.h /content/sqlite/src/pcache1.c /content/sqlite/src/pragma.c /content/sqlite/src/pragma.h /content/sqlite/src/prepare.c /content/sqlite/src/printf.c /content/sqlite/src/random.c /content/sqlite/src/resolve.c /content/sqlite/src/rowset.c /content/sqlite/src/select.c /content/sqlite/src/status.c /content/sqlite/src/shell.c.in /content/sqlite/src/sqlite.h.in /content/sqlite/src/sqlite3ext.h /content/sqlite/src/sqliteInt.h /content/sqlite/src/sqliteLimit.h /content/sqlite/src/table.c /content/sqlite/src/tclsqlite.c /content/sqlite/src/threads.c /content/sqlite/src/tokenize.c /content/sqlite/src/treeview.c /content/sqlite/src/trigger.c /content/sqlite/src/utf.c /content/sqlite/src/update.c /content/sqlite/src/upsert.c /content/sqlite/src/util.c /content/sqlite/src/vacuum.c /content/sqlite/src/vdbe.c /content/sqlite/src/vdbe.h /content/sqlite/src/vdbeapi.c /content/sqlite/src/vdbeaux.c /content/sqlite/src/vdbeblob.c /content/sqlite/src/vdbemem.c /content/sqlite/src/vdbesort.c /content/sqlite/src/vdbetrace.c /content/sqlite/src/vdbevtab.c /content/sqlite/src/vdbeInt.h /content/sqlite/src/vtab.c /content/sqlite/src/vxworks.h /content/sqlite/src/wal.c /content/sqlite/src/wal.h /content/sqlite/src/walker.c /content/sqlite/src/where.c /content/sqlite/src/wherecode.c /content/sqlite/src/whereexpr.c /content/sqlite/src/whereInt.h /content/sqlite/src/window.c /content/sqlite/ext/fts1/fts1.c /content/sqlite/ext/fts1/fts1.h /content/sqlite/ext/fts1/fts1_hash.c /content/sqlite/ext/fts1/fts1_hash.h /content/sqlite/ext/fts1/fts1_porter.c /content/sqlite/ext/fts1/fts1_tokenizer.h /content/sqlite/ext/fts1/fts1_tokenizer1.c /content/sqlite/ext/fts2/fts2.c /content/sqlite/ext/fts2/fts2.h /content/sqlite/ext/fts2/fts2_hash.c /content/sqlite/ext/fts2/fts2_hash.h /content/sqlite/ext/fts2/fts2_icu.c /content/sqlite/ext/fts2/fts2_porter.c /content/sqlite/ext/fts2/fts2_tokenizer.h /content/sqlite/ext/fts2/fts2_tokenizer.c /content/sqlite/ext/fts2/fts2_tokenizer1.c /content/sqlite/ext/fts3/fts3.c /content/sqlite/ext/fts3/fts3.h /content/sqlite/ext/fts3/fts3Int.h /content/sqlite/ext/fts3/fts3_aux.c /content/sqlite/ext/fts3/fts3_expr.c /content/sqlite/ext/fts3/fts3_hash.c /content/sqlite/ext/fts3/fts3_hash.h /content/sqlite/ext/fts3/fts3_icu.c /content/sqlite/ext/fts3/fts3_porter.c /content/sqlite/ext/fts3/fts3_snippet.c /content/sqlite/ext/fts3/fts3_tokenizer.h /content/sqlite/ext/fts3/fts3_tokenizer.c /content/sqlite/ext/fts3/fts3_tokenizer1.c /content/sqlite/ext/fts3/fts3_tokenize_vtab.c /content/sqlite/ext/fts3/fts3_unicode.c /content/sqlite/ext/fts3/fts3_unicode2.c /content/sqlite/ext/fts3/fts3_write.c /content/sqlite/ext/icu/sqliteicu.h /content/sqlite/ext/icu/icu.c /content/sqlite/ext/rtree/rtree.h /content/sqlite/ext/rtree/rtree.c /content/sqlite/ext/rtree/geopoly.c /content/sqlite/ext/session/sqlite3session.c /content/sqlite/ext/session/sqlite3session.h /content/sqlite/ext/userauth/userauth.c /content/sqlite/ext/userauth/sqlite3userauth.h /content/sqlite/ext/rbu/sqlite3rbu.h /content/sqlite/ext/rbu/sqlite3rbu.c /content/sqlite/ext/misc/json1.c /content/sqlite/ext/misc/stmt.c keywordhash.h opcodes.c opcodes.h parse.c parse.h config.h shell.c sqlite3.h tsrc
rm tsrc/sqlite.h.in tsrc/parse.y
tclsh8.6 /content/sqlite/tool/vdbe-compress.tcl  <tsrc/vdbe.c >vdbe.new
mv vdbe.new tsrc/vdbe.c
cp fts5.c fts5.h tsrc
touch .target_source
tclsh8.6 /content/sqlite/tool/mksqlite3c.tcl
cp tsrc/sqlite3ext.h .
cp /content/sqlite/ext/session/sqlite3session.h .
/content
npx: installed 1 in 2.385s
> destination directory is not empty. Using --force, continuing
> cloned coleifer/pysqlite3#HEAD
running build_static
Builds a C extension using a sqlite3 amalgamation
building 'pysqlite3._sqlite3' extension
creating build
creating build/temp.linux-x86_64-3.7
creating build/temp.linux-x86_64-3.7/src
x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -DSQLITE_MAX_MMAP_SIZE=1099511627776 -I. -I/usr/include/python3.7m -c src/module.c -o build/temp.linux-x86_64-3.7/src/module.o
x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -DSQLITE_MAX_MMAP_SIZE=1099511627776 -I. -I/usr/include/python3.7m -c src/connection.c -o build/temp.linux-x86_64-3.7/src/connection.o
x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -DSQLITE_MAX_MMAP_SIZE=1099511627776 -I. -I/usr/include/python3.7m -c src/cursor.c -o build/temp.linux-x86_64-3.7/src/cursor.o
x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -DSQLITE_MAX_MMAP_SIZE=1099511627776 -I. -I/usr/include/python3.7m -c src/cache.c -o build/temp.linux-x86_64-3.7/src/cache.o
x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -DSQLITE_MAX_MMAP_SIZE=1099511627776 -I. -I/usr/include/python3.7m -c src/microprotocols.c -o build/temp.linux-x86_64-3.7/src/microprotocols.o
x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -DSQLITE_MAX_MMAP_SIZE=1099511627776 -I. -I/usr/include/python3.7m -c src/prepare_protocol.c -o build/temp.linux-x86_64-3.7/src/prepare_protocol.o
x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -DSQLITE_MAX_MMAP_SIZE=1099511627776 -I. -I/usr/include/python3.7m -c src/statement.c -o build/temp.linux-x86_64-3.7/src/statement.o
x86_64-linux-gnu-gcc -pthread -Wno-unused-result -Wsign-compare -DNDEBUG -g -fwrapv -O2 -Wall -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -g -fdebug-prefix-map=/build/python3.7-Y7dWVB/python3.7-3.7.12=. -fstack-protector-strong -Wformat -Werror=format-security -Wdate-time -D_FORTIFY_SOURCE=2 -fPIC -DMODULE_NAME="pysqlite3.dbapi2" -DSQLITE_ALLOW_COVERING_INDEX_SCAN=1 -DSQLITE_ENABLE_FTS3=1 -DSQLITE_ENABLE_FTS3_PARENTHESIS=1 -DSQLITE_ENABLE_FTS4=1 -DSQLITE_ENABLE_FTS5=1 -DSQLITE_ENABLE_JSON1=1 -DSQLITE_ENABLE_LOAD_EXTENSION=1 -DSQLITE_ENABLE_RTREE=1 -DSQLITE_ENABLE_STAT4=1 -DSQLITE_ENABLE_UPDATE_DELETE_LIMIT=1 -DSQLITE_SOUNDEX=1 -DSQLITE_USE_URI=1 -DSQLITE_TEMP_STORE=3 -DSQLITE_MAX_VARIABLE_NUMBER=250000 -DSQLITE_MAX_MMAP_SIZE=1099511627776 -I. -I/usr/include/python3.7m -c src/util.c -o build/temp.linux-x86_64-3.7/src/util.o

In [4]:
# 메뉴 런타임 > 런타임 다시 시작 후 셀 실행
import pandas as pd
import sqlite3
sqlite3.sqlite_version  # 3.36.0

'3.22.0'

## 2) 데이터베이스 다운로드

In [5]:
import gdown

url = 'https://drive.google.com/uc?id=1iTVsBZLU8GtqSIy0iZ1A4Wp4ZZMuNoUM'
output = 'classicmodels.db'
gdown.download(url, output, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1iTVsBZLU8GtqSIy0iZ1A4Wp4ZZMuNoUM
To: /content/classicmodels.db
100%|██████████| 311k/311k [00:00<00:00, 49.4MB/s]

'classicmodels.db'

## 3) 데이터베이스 연결

In [6]:
conn = sqlite3.connect("classicmodels.db")
cur = conn.cursor()

## 4) 데이터베이스 테이블 조회 테스트

In [7]:
def viewlimit(table, cutlimit):
  sql = "SELECT * FROM " + table + " LIMIT " + cutlimit + ";"
  cur.execute(sql)
  rows = cur.fetchall()
  print(sql)
  for row in rows:
    print(row)

In [8]:
viewlimit("customers","10")

SELECT * FROM customers LIMIT 10;
(103, 'Atelier graphique', 'Schmitt', 'Carine ', '40.32.2555', '54, rue Royale', None, 'Nantes', None, '44000', 'France', 1370, 21000)
(112, 'Signal Gift Stores', 'King', 'Jean', '7025551838', '8489 Strong St.', None, 'Las Vegas', 'NV', '83030', 'USA', 1166, 71800)
(114, 'Australian Collectors, Co.', 'Ferguson', 'Peter', '03 9520 4555', '636 St Kilda Road', 'Level 3', 'Melbourne', 'Victoria', '3004', 'Australia', 1611, 117300)
(119, 'La Rochelle Gifts', 'Labrune', 'Janine ', '40.67.8555', '67, rue des Cinquante Otages', None, 'Nantes', None, '44000', 'France', 1370, 118200)
(121, 'Baane Mini Imports', 'Bergulfsen', 'Jonas ', '07-98 9555', 'Erling Skakkes gate 78', None, 'Stavern', None, '4110', 'Norway', 1504, 81700)
(124, 'Mini Gifts Distributors Ltd.', 'Nelson', 'Susan', '4155551450', '5677 Strong St.', None, 'San Rafael', 'CA', '97562', 'USA', 1165, 210500)
(125, 'Havel & Zbyszek Co', 'Piestrzeniewicz', 'Zbyszek ', '(26) 642-7555', 'ul. Filtrowa 68', None, 'Warszawa', None, '01-012', 'Poland', None, 0)
(128, 'Blauer See Auto, Co.', 'Keitel', 'Roland', '+49 69 66 90 2555', 'Lyonerstr. 34', None, 'Frankfurt', None, '60528', 'Germany', 1504, 59700)
(129, 'Mini Wheels Co.', 'Murphy', 'Julie', '6505555787', '5557 North Pendale Street', None, 'San Francisco', 'CA', '94217', 'USA', 1165, 64600)
(131, 'Land of Toys Inc.', 'Lee', 'Kwai', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', 1323, 114900)

## 5) Pandas 함수로 데이터 조회 및 결과 확인

In [9]:
window_sql = f"""
select *
  from customers
 limit 100
"""
df = pd.read_sql(window_sql, conn, index_col=None)
df.head(10)

   customerNumber  ... creditLimit
0             103  ...       21000
1             112  ...       71800
2             114  ...      117300
3             119  ...      118200
4             121  ...       81700
5             124  ...      210500
6             125  ...           0
7             128  ...       59700
8             129  ...       64600
9             131  ...      114900

[10 rows x 13 columns]

In [10]:
df.tail(10)

    customerNumber  ... creditLimit
90             382  ...       71700
91             385  ...       81500
92             386  ...      121400
93             398  ...       94400
94             406  ...       95000
95             409  ...           0
96             412  ...       86800
97             415  ...       77000
98             424  ...       67500
99             443  ...           0

[10 rows x 13 columns]

In [11]:
#db조회 결과 다운로드
df.to_csv('/content/tmp.csv')

## 6) 구글 드라이브 마운트 및 파일 저장

In [12]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [13]:
def sql_result(sql,file):
  print(sql)
  df = pd.read_sql(sql, conn, index_col=None)
  print(df.head(10))
  file_name = './result/5w/' + file + '.csv'
  print(file_name)
  df.to_csv(file_name, index=False)

In [20]:
!mkdir ./result/5w

mkdir: cannot create directory ‘./result/5w’: File exists

In [14]:
sql = f"""
select *
  from customers
 limit 10
"""
file = 'result_5w_1_1'

In [21]:
sql_result(sql,file)

select *
  from customers
 limit 10

   customerNumber  ... creditLimit
0             103  ...       21000
1             112  ...       71800
2             114  ...      117300
3             119  ...      118200
4             121  ...       81700
5             124  ...      210500
6             125  ...           0
7             128  ...       59700
8             129  ...       64600
9             131  ...      114900

[10 rows x 13 columns]
./result/5w/result_5w_1_1.csv

# 1.데이터 생성

데이터베이스 소개 URL
https://www.mysqltutorial.org/mysql-sample-database.aspx

**데이터베이스 소개**

![MySQL-Sample-Database-Schema.png]()


*   Customers: stores customer’s data.
*   Products: stores a list of scale model cars.
*   ProductLines: stores a list of product line categories.
*   Orders: stores sales orders placed by customers.
*   OrderDetails: stores sales order line items for each sales order.
*   Payments: stores payments made by customers based on their accounts.
*   Employees: stores all employee information as well as the organization structure such as who reports to whom.
*   Offices: stores sales office data.

#2.구매 지표 추출 (사전녹화)

## 1)매출액(일자별, 월별, 연도별)

*   일별 매출액을 조회하려면 주문의 주문일과 판매액을 사용함
*   ERD를 보면 주문 일자(orderdate)는 orders 테이블에 존재하고, 판매액(priceEach * quantityOrdered)은 orderdetails에 존재함
*   orders 테이블의 주문 정보에 orderdetails의 주문 상품 가격을 결합함

### a) 일별 매출액 조회



*   2개의 테이블(orders, orderdetails)을 조합한 뒤, ORDERDATE와 PRICEEACH x QUANTITYORDERED(매출액)를 조회한 결과

In [22]:
sql = f"""
SELECT A.ORDERDATE
     , PRICEEACH*QUANTITYORDERED
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
"""
sql_result(sql,'2_1_A_1일별매출액조회')

SELECT A.ORDERDATE
     , PRICEEACH*QUANTITYORDERED
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER

    orderDate  PRICEEACH*QUANTITYORDERED
0  2003-01-06                    4080.00
1  2003-01-06                    2754.50
2  2003-01-06                    1660.12
3  2003-01-06                    1729.21
4  2003-01-09                    2701.50
5  2003-01-09                    4343.56
6  2003-01-09                    1463.85
7  2003-01-09                    2040.10
8  2003-01-10                    3726.45
9  2003-01-10                    1768.33
./result/5w/2_1_A_1일별매출액조회.csv

*   ORDERDATE로 그룹핑한 뒤, PRICEEACH x QUANTITYORDERED(매출액)의 합을 집계하면 일별 매출액을 계산

In [23]:
# GROUP BY 1, ORDER BY 1은 이름에 관계 없이 첫 번째 열로 그룹화
sql = f"""
SELECT A.ORDERDATE
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;
"""
sql_result(sql,'2_1_A_2일별매출액조회')

SELECT A.ORDERDATE
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;

    orderDate     SALES
0  2003-01-06  10223.83
1  2003-01-09  10549.01
2  2003-01-10   5494.78
3  2003-01-29  50218.95
4  2003-01-31  40206.20
5  2003-02-11  53959.21
6  2003-02-17  52151.81
7  2003-02-24  22292.62
8  2003-03-03  51001.22
9  2003-03-10  25833.14
./result/5w/2_1_A_2일별매출액조회.csv

### b) 월별 매출액 조회

*   판매일(orderdate)은 'yyyy-mm-dd'의 형태로 구성됨
*   orderdate에서 'yyyy-mm'만 가져올 수 있다면, 월별 매출액을 조회할 수 있음
*   문자열에서 원하는 텍스트만 호출하는 함수는 substr()

**문자열에서 원하는 부분만 가져오기 substr()**
<br>substr(칼럼, 위치, 길이)
<br>칼럼 : 문자열
<br>위치 : 시작 텍스트의 위치를 나타냄
<br>길이 : 몇 개의 텍스트를 가지고 올지 정함

In [24]:
#substr 명령어
sql = f"""
SELECT SUBSTR('ABCDE',2,3);
"""
df = pd.read_sql(sql, conn, index_col=None)
df.head()

  SUBSTR('ABCDE',2,3)
0                 BCD

*   substr()을 이용해 월별 매출을 구하는 방법

In [25]:
# ORDERDATE에서 1번째부터 7번째까지의 값을 month로 (2021-10)
sql = f"""
SELECT SUBSTR(A.ORDERDATE,1,7) AS MONTH
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
  ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;
"""
sql_result(sql,'2_1_B월별매출')

SELECT SUBSTR(A.ORDERDATE,1,7) AS MONTH
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
  ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;

     MONTH      SALES
0  2003-01  116692.77
1  2003-02  128403.64
2  2003-03  160517.14
3  2003-04  185848.59
4  2003-05  179435.55
5  2003-06  150470.77
6  2003-07  201940.36
7  2003-08  178257.11
8  2003-09  236697.85
9  2003-10  514336.21
./result/5w/2_1_B월별매출.csv

### c) 연도별 매출액 조회

*   연도별 매출액은 월별 매출액과 동일한 방법으로 산출함

In [26]:
# SUBSTR(A.ORDERDATE, 1, 4)로 2021별로 조회 진행
sql = f"""
SELECT SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B 
    ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;
"""
sql_result(sql,'2_1_C연도별매출')

SELECT SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;

   YEAR       SALES
0  2003  3317348.39
1  2004  4515905.51
2  2005  1770936.71
./result/5w/2_1_C연도별매출.csv

## 2) 구매자 수, 구매 건수(일자별, 월별, 연도별)

*   일자별, 월별, 연도별 구매자 수를 추출함
*   ERD를 살펴보면 ORDERS테이블에 판매일(ORDERDATR), 구매 고객 번호(CUSTOMERNUMBER)가 존재함
*   판매일(ORDERDATE)로 그룹핑한 후 고객 번호를 COUNT해야 함
*   구매자 수, 구매 건수를 산출할 때 보통 UNIQUE하게 필드를 COUNT해 줘야 함

In [27]:
#CUSTOMERNUMBER 중복이 존재함
sql = f"""
SELECT ORDERDATE
     , CUSTOMERNUMBER
     , ORDERNUMBER
  FROM ORDERS;
"""
sql_result(sql,'2_2_1구매자수구매건수')

SELECT ORDERDATE
     , CUSTOMERNUMBER
     , ORDERNUMBER
  FROM ORDERS;

    orderDate  customerNumber  orderNumber
0  2003-01-06             363        10100
1  2003-01-09             128        10101
2  2003-01-10             181        10102
3  2003-01-29             121        10103
4  2003-01-31             141        10104
5  2003-02-11             145        10105
6  2003-02-17             278        10106
7  2003-02-24             131        10107
8  2003-03-03             385        10108
9  2003-03-10             486        10109
./result/5w/2_2_1구매자수구매건수.csv

*   주문 번호의 경우 중복이 존재하지 않아 DISTINCT를 사용하지 않아도 됨
*   정확히는 테이블 컬럼 속성을 보고 PK로 중복을 허용하지 않는지 확인함
*   만약 테이블의 구조를 모른다면 아래와 같이 확인해 볼 수 있음

In [28]:
# PK는 Primary Key. 테이블에서 유일한 값.
# 이 과정을 통해 ORDERNUMBER에는 중복되는 값이 없음을 확인할 수 있음.
sql = f"""
SELECT COUNT(ORDERNUMBER) AS N_ORDERS
     , COUNT(DISTINCT ORDERNUMBER) AS N_ORDERS_DISTINCT
  FROM ORDERS;
"""
sql_result(sql,'2_2_2구매자수구매건수')

SELECT COUNT(ORDERNUMBER) AS N_ORDERS
     , COUNT(DISTINCT ORDERNUMBER) AS N_ORDERS_DISTINCT
  FROM ORDERS;

   N_ORDERS  N_ORDERS_DISTINCT
0       326                326
./result/5w/2_2_2구매자수구매건수.csv

*   일별 구매자 수는 UNIQUE 고객수 COUNT와 주문번호 COUNT로 조회함

In [29]:
# 구매자 번호는 중복되는 값 나올 수 있기 때문에 distinct 사용

sql = f"""
SELECT ORDERDATE
     , COUNT(DISTINCT CUSTOMERNUMBER) AS N_PURCHASER
     , COUNT(ORDERNUMBER) AS N_ORDERS
  FROM ORDERS
 GROUP BY 1
 ORDER BY 1;
"""
sql_result(sql,'2_2_3구매자수구매건수')

SELECT ORDERDATE
     , COUNT(DISTINCT CUSTOMERNUMBER) AS N_PURCHASER
     , COUNT(ORDERNUMBER) AS N_ORDERS
  FROM ORDERS
 GROUP BY 1
 ORDER BY 1;

    orderDate  N_PURCHASER  N_ORDERS
0  2003-01-06            1         1
1  2003-01-09            1         1
2  2003-01-10            1         1
3  2003-01-29            1         1
4  2003-01-31            1         1
5  2003-02-11            1         1
6  2003-02-17            1         1
7  2003-02-24            1         1
8  2003-03-03            1         1
9  2003-03-10            1         1
./result/5w/2_2_3구매자수구매건수.csv

**QUIZ? 월별 구매자수 산출, 연도별 구매자수 산출**

In [30]:
sql = f"""
    SELECT SUBSTR(ORDERDATE, 1, 7) AS MONTH,
    COUNT(DISTINCT CUSTOMERNUMBER) AS N_CUST
    FROM ORDERS
    GROUP BY 1
    ORDER BY 1;
"""
sql_result(sql,'2_2_4월별구매자수')

    SELECT SUBSTR(ORDERDATE, 1, 7) AS MONTH,
    COUNT(DISTINCT CUSTOMERNUMBER) AS N_CUST
    FROM ORDERS
    GROUP BY 1
    ORDER BY 1;

     MONTH  N_CUST
0  2003-01       5
1  2003-02       3
2  2003-03       6
3  2003-04       7
4  2003-05       6
5  2003-06       6
6  2003-07       7
7  2003-08       5
8  2003-09       8
9  2003-10      17
./result/5w/2_2_4월별구매자수.csv

In [31]:
sql = f"""
    SELECT SUBSTR(ORDERDATE, 1, 4) AS YEAR,
    COUNT(DISTINCT CUSTOMERNUMBER) AS N_CUST
    FROM ORDERS
    GROUP BY 1
    ORDER BY 1;
"""
sql_result(sql,'2_2_4연도별구매건수')

    SELECT SUBSTR(ORDERDATE, 1, 4) AS YEAR,
    COUNT(DISTINCT CUSTOMERNUMBER) AS N_CUST
    FROM ORDERS
    GROUP BY 1
    ORDER BY 1;

   YEAR  N_CUST
0  2003      74
1  2004      89
2  2005      44
./result/5w/2_2_4연도별구매건수.csv

## 3) 인당 매출액(연도별)

*   고객의 인당 매출액은 고객의 Loyalty를 측정하는 요인으로 사용될 수 있음
*   기간 별로 평균 인당 고객 매출액을 비교하면, 고객 1명이 우리의 서비스에 얼마를 지불하는 지 그 변화를 파악할 수 있음

일자별 매출액과 구매자 수를 응용한 연도별 인당 매출액 산출
*   STEP1 : 먼저 연도별 매출액과 구매자 수를 산출함

In [32]:
sql = f"""
SELECT SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , COUNT(DISTINCT A.CUSTOMERNUMBER) AS N_PURCHASER
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B 
    ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;
"""
sql_result(sql,'2_3_1인당매출액(연도별)')

SELECT SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , COUNT(DISTINCT A.CUSTOMERNUMBER) AS N_PURCHASER
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;

   YEAR  N_PURCHASER       SALES
0  2003           74  3317348.39
1  2004           89  4515905.51
2  2005           44  1770936.71
./result/5w/2_3_1인당매출액(연도별).csv

*   STEP2 : 매출액을 구매자 수로 나누기
*   SELECT 구문에 SUM(PRICEEACH*QUANTITYORDERED)/ COUNT(DISTINCT A.CUSTOMERNUMBER) 추가함

In [33]:
sql = f"""
SELECT SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , COUNT(DISTINCT A.CUSTOMERNUMBER) AS N_PURCHASER
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
     -- 매출액을 구매자 수로 나누기 추가
     , SUM(PRICEEACH*QUANTITYORDERED)/ COUNT(DISTINCT A.CUSTOMERNUMBER) AS AMV
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;
"""
sql_result(sql,'2_3_2인당매출액(연도별)')

SELECT SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , COUNT(DISTINCT A.CUSTOMERNUMBER) AS N_PURCHASER
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
     -- 매출액을 구매자 수로 나누기 추가
     , SUM(PRICEEACH*QUANTITYORDERED)/ COUNT(DISTINCT A.CUSTOMERNUMBER) AS AMV
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;

   YEAR  N_PURCHASER       SALES           AMV
0  2003           74  3317348.39  44829.032297
1  2004           89  4515905.51  50740.511348
2  2005           44  1770936.71  40248.561591
./result/5w/2_3_2인당매출액(연도별).csv

## 4) 건당 구매 금액(ATV)(연도별)

*   ATV(Average Transaction Value) : 1건의 거래가 평균적으로 발생시키는 매출
*   인당 구매 금액 (AMV)을 구하는 방법과 유사함
*   매출을 구매자 수가 아닌 구매 건수로 나누면 건당 금액을 산출함

In [34]:
# 위랑 다른 점은 그냥 어떤 값으로 나눴냐. 이 차이임
sql = f"""
SELECT SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , COUNT(DISTINCT A.ORDERNUMBER) AS N_ORDERS
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
     -- 매출액을 구매 건수로 나누기 추가
     , SUM(PRICEEACH*QUANTITYORDERED)/ COUNT(DISTINCT A.ORDERNUMBER) AS ATV
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;
"""
sql_result(sql,'2_4_1건당구매금액(ATV)')

SELECT SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , COUNT(DISTINCT A.ORDERNUMBER) AS N_ORDERS
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
     -- 매출액을 구매 건수로 나누기 추가
     , SUM(PRICEEACH*QUANTITYORDERED)/ COUNT(DISTINCT A.ORDERNUMBER) AS ATV
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B ON A.ORDERNUMBER = B.ORDERNUMBER
 GROUP BY 1
 ORDER BY 1;

   YEAR  N_ORDERS       SALES           ATV
0  2003       111  3317348.39  29886.021532
1  2004       151  4515905.51  29906.659007
2  2005        64  1770936.71  27670.886094
./result/5w/2_4_1건당구매금액(ATV).csv

# 3.그룹별 구매 지표 구하기 (사전녹화)

*   국가별 도시별로 매출 지표를 계산해 더 상세하게 비즈니스를 이해함

## 1) 국가별, 도시별 매출액

*   해당 주문 건이 발생한 국가, 도시를 파악하기 위해서 CUSTOMERS 테이블의 COUNTRY를 이용함
*   ORDERS, CUSTOMERS, ORDERDETAILS를 모두 사용해야 국가별, 도시별 매출액 산출 가능함

*   STEP1 : ORDERS, CUSTOMERS, ORDERDETAILS 3가지 테이블을 결합함
*   각 테이블을 연결하는 필드는 ORDERNUMBER, CUSTOMERNUMBER

In [35]:
# A는 ORDERS, B는 CUSTOMERS, C는 ORDERDETAILS의 테이블임.
sql = f"""
SELECT *
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B 
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER;
"""
sql_result(sql,'3_1_1국가별도시별매출액')

SELECT *
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER;

   orderNumber   orderDate  ... salesRepEmployeeNumber creditLimit
0        10100  2003-01-06  ...                   1216      114200
1        10100  2003-01-06  ...                   1216      114200
2        10100  2003-01-06  ...                   1216      114200
3        10100  2003-01-06  ...                   1216      114200
4        10101  2003-01-09  ...                   1504       59700
5        10101  2003-01-09  ...                   1504       59700
6        10101  2003-01-09  ...                   1504       59700
7        10101  2003-01-09  ...                   1504       59700
8        10102  2003-01-10  ...                   1286       76400
9        10102  2003-01-10  ...                   1286       76400

[10 rows x 25 columns]
./result/5w/3_1_1국가별도시별매출액.csv

*   STEP2 : 3개의 테이블을 조합한 뒤 COUNTRY, CITY, PRICEEACH*QUANTITYORDERED을 조회함

In [36]:
sql = f"""
SELECT COUNTRY
     , CITY
     , PRICEEACH*QUANTITYORDERED
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER;
"""
sql_result(sql,'3_1_2국가별도시별매출액')

SELECT COUNTRY
     , CITY
     , PRICEEACH*QUANTITYORDERED
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER;

   country       city  PRICEEACH*QUANTITYORDERED
0      USA     Nashua                    4080.00
1      USA     Nashua                    2754.50
2      USA     Nashua                    1660.12
3      USA     Nashua                    1729.21
4  Germany  Frankfurt                    2701.50
5  Germany  Frankfurt                    4343.56
6  Germany  Frankfurt                    1463.85
7  Germany  Frankfurt                    2040.10
8      USA        NYC                    3726.45
9      USA        NYC                    1768.33
./result/5w/3_1_2국가별도시별매출액.csv

*   STEP3-1 : CUSTOMERS 테이블에서 국가(COUNTRY), 도시(CITY)를 불러오고, 2가지 칼럼으로 그룹핑함
*   STEP3-2 : 이후 ORDERDETAILS 테이블의 PRICEEACH*QUANTITYORDERED를 합해 국가별, 도시별 매출액을 산출함

In [37]:
# 여기서 두 가지 칼럼으로 그룹핑해서 GROUP BY 1, 2인가봐
sql = f"""
SELECT C.COUNTRY
     , C.CITY
     , SUM(PRICEEACH*QUANTITYORDERED) SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1,2;
"""
sql_result(sql,'3_1_3국가별도시별매출액')

SELECT C.COUNTRY
     , C.CITY
     , SUM(PRICEEACH*QUANTITYORDERED) SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1,2;

     country            city      SALES
0  Australia       Chatswood  133907.12
1  Australia    Glen Waverly   55866.02
2  Australia       Melbourne  180585.07
3  Australia    North Sydney  137034.22
4  Australia  South Brisbane   55190.16
5    Austria            Graz   51059.99
6    Austria        Salzburg  137480.07
7    Belgium       Bruxelles   70851.58
8    Belgium       Charleroi   29217.18
9     Canada        Montréal   68977.67
./result/5w/3_1_3국가별도시별매출액.csv

*   STEP4: COUNTRY, CITY로 데이터를 정렬하면 데이터를 가독성 있게 구조화할 수 있음

In [38]:
# ORDER BY 1, 2는 1열과 2열로 데이터 정렬해라.
sql = f"""
SELECT C.COUNTRY
     , C.CITY
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A

  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER

  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
    
 GROUP BY 1,2
 ORDER BY 1,2;
"""
sql_result(sql,'3_1_3국가별도시별매출액')

SELECT C.COUNTRY
     , C.CITY
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A

  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER

  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER

 GROUP BY 1,2
 ORDER BY 1,2;

     country            city      SALES
0  Australia       Chatswood  133907.12
1  Australia    Glen Waverly   55866.02
2  Australia       Melbourne  180585.07
3  Australia    North Sydney  137034.22
4  Australia  South Brisbane   55190.16
5    Austria            Graz   51059.99
6    Austria        Salzburg  137480.07
7    Belgium       Bruxelles   70851.58
8    Belgium       Charleroi   29217.18
9     Canada        Montréal   68977.67
./result/5w/3_1_3국가별도시별매출액.csv

## 2) 북미(USA, Canada) VS 비북미 매출액 비교

도시가 아닌 북미와 비북미 지역 2가지로 구분해 매출을 조회함

**CASE WHEN 구문**
*   CASE WHEN은 조건에 따라 원하는 결과를 출력하는 구문
*   CASE WHEN을 이용해 북미와 비북미 지역으로 구분할 수 있음

**CASE WHEN 조건 THEN 결과 END**
*   북미(USA, Canada)와 비북미를 구분하는 CASE WHEN 구문

In [39]:
#case when 구문
# END는 조건문이 끝났다는 뜻.
sql = f"""
SELECT CASE WHEN COUNTRY IN ('USA','Canada') THEN 'North America'
            ELSE 'Others'
        END AS COUNTRY_GRP
  FROM CUSTOMERS;
"""
sql_result(sql,'3_2_1북미비북미매출액비교')

SELECT CASE WHEN COUNTRY IN ('USA','Canada') THEN 'North America'
            ELSE 'Others'
        END AS COUNTRY_GRP
  FROM CUSTOMERS;

     COUNTRY_GRP
0         Others
1  North America
2         Others
3         Others
4         Others
5  North America
6         Others
7         Others
8  North America
9  North America
./result/5w/3_2_1북미비북미매출액비교.csv

**국가별 도시별 매출액**
*   국가별 도시별 매출액을 구하는 쿼리에 case when 구문을 응용하면 북미, 비북미 매출액을 구할 수 있음

In [40]:
# 기존 국가별 도시별 매출액
sql = f"""
SELECT C.COUNTRY  --국가별
     , C.CITY  --도시별
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1,2
 ORDER BY 3 DESC
;
"""
sql_result(sql,'3_2_2북미비북미매출액비교')

SELECT C.COUNTRY  --국가별
     , C.CITY  --도시별
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1,2
 ORDER BY 3 DESC
;

       country           city      SALES
0        Spain         Madrid  979880.77
1          USA     San Rafael  591827.34
2          USA            NYC  497941.50
3  New Zealand     Auckland    292082.87
4    Singapore      Singapore  263997.78
5       France          Paris  240649.68
6          USA  San Francisco  199051.34
7          USA    New Bedford  190500.01
8       France         Nantes  180887.48
9    Australia      Melbourne  180585.07
./result/5w/3_2_2북미비북미매출액비교.csv

*   위 쿼리에서 COUNTRY와 CITY를 CASE WHEN 구문으로 변경하면 북미, 비북미의 매출을 구분해 조회할 수 있음

**북미, 비북미 매출액**

In [41]:
# 북미, 비북미 매출액
# 여기서는 C.COUNTRY 말고 그냥 COUNTRY를 사용했음
sql = f"""
SELECT CASE WHEN COUNTRY IN ('USA','Canada') THEN 'North America'
            ELSE 'Others'
        END COUNTRY_GRP -- 북미, 비북미
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1
 ORDER BY 2 DESC
;
"""
sql_result(sql,'3_2_3북미비북미매출액비교')

SELECT CASE WHEN COUNTRY IN ('USA','Canada') THEN 'North America'
            ELSE 'Others'
        END COUNTRY_GRP -- 북미, 비북미
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1
 ORDER BY 2 DESC
;

     COUNTRY_GRP       SALES
0         Others  6124998.70
1  North America  3479191.91
./result/5w/3_2_3북미비북미매출액비교.csv

## 3) 매출 Top5 국가 및 매출

*   그룹별로 집계한 데이터를 이용해 매출 상위 국가를 출력함

* STEP : 국가별 매출을 모두 출력한 후 매출이 높은 순위부터 등수를 매겨 상위 5개의 국가만 출력함
*   데이터의 값에 따라 등수를 매기는 함수 **row_number, rank**

[테이블 생성 방식]
*   국가별 매출액을 다른 이름의 테이블로 생성한 후, 매출에 따라 RANK를 매기면 우리가 원하는 Top5 국가를 산출할 수 있음

In [42]:
#만약 STAT테이블이 존재하는 경우 삭제
sql = f"""
DROP TABLE IF EXISTS STAT;
"""
conn.execute(sql)

In [43]:
#테이블 리스트 조회
sql = f"""
SELECT name
  FROM sqlite_master
 WHERE type='table';
"""
df = pd.read_sql(sql, conn, index_col=None)
df.head(100)

           name
0     customers
1     employees
2       offices
3  orderdetails
4        orders
5      payments
6  productlines
7      products

*   STEP1: STAT(국가별 매출액) 테이블 생성

In [44]:
sql = f"""
CREATE TABLE STAT AS
SELECT C.COUNTRY
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A
  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1
 ORDER BY 2 DESC
;
"""
conn.execute(sql)

*   테이블 리스트 조회

In [45]:
#테이블 리스트 조회
sql = f"""
SELECT name
  FROM sqlite_master
 WHERE type='table';
"""
df = pd.read_sql(sql, conn, index_col=None)
df.head(100)

           name
0     customers
1     employees
2       offices
3  orderdetails
4        orders
5      payments
6  productlines
7      products
8          STAT

*   STAT테이블 조회 결과

In [46]:
sql = f"""
SELECT *
  FROM STAT;
"""
sql_result(sql,'3_3_2매출TOP5국가및매출')

SELECT *
  FROM STAT;

       country       SALES
0          USA  3273280.05
1        Spain  1099389.09
2       France  1007374.02
3    Australia   562582.59
4  New Zealand   476847.01
5           UK   436947.44
6        Italy   360616.81
7      Finland   295149.35
8    Singapore   263997.78
9      Denmark   218994.92
./result/5w/3_3_2매출TOP5국가및매출.csv

*   STAT 테이블에서 RANK를 이용해 매출액 등수 부여함

In [47]:
!pip install mysql

Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.0.3.tar.gz (88 kB)
     |████████████████████████████████| 88 kB 3.8 MB/s
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (setup.py) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.0.3-cp37-cp37m-linux_x86_64.whl size=100151 sha256=354753aa203191bc31992086ad4b59082f4695f29111a6ed2158b52c37e859ea
  Stored in directory: /root/.cache/pip/wheels/79/1c/f8/11fafab45fe6696eea63794a5d747b9c6b54990ac6f1885fb7
Successfully built mysqlclient
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.0.3

In [48]:
sql = f"""
SELECT COUNTRY
    , SALES
    , RANK() OVER (ORDER BY SALES DESC) AS RNK
    FROM STAT;
"""
sql_result(sql, '3_3_3매출TOP5국가및매출')

SELECT COUNTRY
    , SALES
    , RANK() OVER (ORDER BY SALES DESC) AS RNK
    FROM STAT;

DatabaseError: ignored

*   STEP2: 등수를 부여한 결과를 다시 STAT_RNK 테이블로 생성함

In [49]:
#만약 STAT_RNK 테이블이 존재하는 경우 삭제
sql = f"""
DROP TABLE IF EXISTS STAT_RNK;
"""
conn.execute(sql)

*   STAT_RNK(국가, 매출액, 순위) 테이블 생성

In [ ]:
#STAT_RNK 테이블 생성
sql = f"""
CREATE TABLE STAT_RNK AS
SELECT COUNTRY
     , SALES
     , RANK() OVER (ORDER BY SALES DESC) AS RNK
  FROM STAT;
"""
conn.execute(sql)

*   STAT_RNK 테이블 조회 결과

In [50]:
#STAT_RNK 테이블 조회
sql = f"""
SELECT *
  FROM STAT_RNK;
"""
sql_result(sql,'3_3_4매출TOP5국가및매출')

SELECT *
  FROM STAT_RNK;

DatabaseError: ignored

*   STEP3: 상위 5개 국가를 추출하기 위한 쿼리

In [51]:
sql = f"""
SELECT *
  FROM STAT_RNK
 WHERE RNK BETWEEN 1 AND 5;
"""
sql_result(sql,'3_3_5매출TOP5국가및매출')

SELECT *
  FROM STAT_RNK
 WHERE RNK BETWEEN 1 AND 5;

DatabaseError: ignored

[테이블 생성 방식]
*   원하는 결과를 출력했지만, 2개의 테이블을 생성해 원하는 결과를 출력함
*   데이터를 조회할 때마다 이렇게 테이블을 생성한다면, DB 관리 어려움

**SUBQUERY**
*   서브 쿼리를 이용하면 여러 개의 테이블을 만들지 않고도 원하는 결과를 조회할 수 있음

In [ ]:
sql = f"""
SELECT *

--STAT_RNK 테이블
  FROM (
SELECT COUNTRY
     , SALES
     , RANK() OVER (ORDER BY SALES DESC) AS RNK

--RNK 테이블
  FROM (
SELECT C.COUNTRY
     , SUM(PRICEEACH*QUANTITYORDERED) AS SALES
  FROM ORDERS A

  LEFT JOIN ORDERDETAILS B
    ON A.ORDERNUMBER = B.ORDERNUMBER

  LEFT JOIN CUSTOMERS C
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
    
 GROUP BY 1
     ) RNK

     ) STAT_RNK
 WHERE RNK <= 5
;
"""
sql_result(sql,'3_3_6매출TOP5국가및매출')

#4.재구매율 (실시간)

*   재구매율: 특정 기간1(ex. 2018년) 구매자 중 특정 기간 2(ex. 2019년)에 연달아 구매한 구매자의 비중을 의미함

*   재구매율을 만들기 위해 orders & orders 테이블 JOIN

[Orders 테이블 결합조건]
*   ORDERS 테이블을 결합하는 데 CUSTOMERNUMBER와 ODERDATE로 데이터를 결합함 
*   ORDER(A)의 SUBSTR(A.ODERDATE,1,4)+0와 B의 SUBSTR(B.ORDERDATE,1,4)-1을 결합함

[Orders 테이블 매칭결과]
*   ORDER(A)의 CUSTOMER A의 2003년도 거래 건에는 2004년도 거래가 매칭됨
*   2004년 거래 건에는 2005년 거래가 없어 어떤 값도 매칭되지 않음

[재구매율 계산]
*   A의 주문 연도로 그룹핑 후 A의 CUSTOMERNUMBER를 COUNT하면 해당 연도의 구매자 수가 계산됨
*   B의 CUSTOMERNUMBER를 COUNT하면 이후 연도 구매자 수가 계산됨
*   두 값을 나누면 최종적으로 각 연도의 Retention Rate(%)를 구할 수 있음

In [52]:
sql = f"""

SELECT A.CUSTOMERNUMBER
     , A.ORDERDATE
     , B.CUSTOMERNUMBER AS CUSTOMERNUMBER_RE
     , B.ORDERDATE AS ORDERDATE_RE
  FROM ORDERS A
  LEFT JOIN ORDERS B
    ON A.CUSTOMERNUMBER = B.CUSTOMERNUMBER
   AND SUBSTR(A.ORDERDATE,1,4)+0 = SUBSTR(B.ORDERDATE,1,4)-1
 ;
"""
sql_result(sql,'4_0재구매율')

SELECT A.CUSTOMERNUMBER
     , A.ORDERDATE
     , B.CUSTOMERNUMBER AS CUSTOMERNUMBER_RE
     , B.ORDERDATE AS ORDERDATE_RE
  FROM ORDERS A
  LEFT JOIN ORDERS B
    ON A.CUSTOMERNUMBER = B.CUSTOMERNUMBER
   AND SUBSTR(A.ORDERDATE,1,4)+0 = SUBSTR(B.ORDERDATE,1,4)-1
 ;

   customerNumber   orderDate  CUSTOMERNUMBER_RE ORDERDATE_RE
0             363  2003-01-06              363.0   2004-11-04
1             128  2003-01-09              128.0   2004-03-15
2             128  2003-01-09              128.0   2004-11-05
3             181  2003-01-10              181.0   2004-04-05
4             181  2003-01-10              181.0   2004-11-05
5             121  2003-01-29              121.0   2004-10-15
6             121  2003-01-29              121.0   2004-11-05
7             141  2003-01-31              141.0   2004-01-16
8             141  2003-01-31              141.0   2004-04-29
9             141  2003-01-31              141.0   2004-05-05
./result/5w/4_0재구매율.csv

## 1) 국가별 2004, 2005 Retention Rate(%)

국가별 Retention Rate(%) 산출 방법

*   국가별 Retention Rate(%) : A 국가 거주 구매자 중 다음 연도에도 구매를 한 구매자의 비중으로 정의함
*   재구매율 계산 쿼리에 "고객의 거주 국가 정보"를 결합한 후 거주 국가로 그룹핑해 산출함

In [53]:
sql = f"""
SELECT C.COUNTRY --국가정보
     , SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , COUNT(DISTINCT A.CUSTOMERNUMBER) AS BU_1
     , COUNT(DISTINCT B.CUSTOMERNUMBER) AS BU_2
     , (COUNT(DISTINCT B.CUSTOMERNUMBER) + 0.0)/(COUNT(DISTINCT A.CUSTOMERNUMBER) + 0.0) AS RETENTION_RATE --소수점 변환 위해 0.0 붙임

  FROM ORDERS A

  LEFT JOIN ORDERS B
    ON A.CUSTOMERNUMBER = B.CUSTOMERNUMBER
   AND SUBSTR(A.ORDERDATE,1,4)+0 = SUBSTR(B.ORDERDATE,1,4)-1

  LEFT JOIN CUSTOMERS C -- 거주정보
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1,2
;
"""
sql_result(sql,'4_1국가별RetentionRate')

SELECT C.COUNTRY --국가정보
     , SUBSTR(A.ORDERDATE,1,4) AS YEAR
     , COUNT(DISTINCT A.CUSTOMERNUMBER) AS BU_1
     , COUNT(DISTINCT B.CUSTOMERNUMBER) AS BU_2
     , (COUNT(DISTINCT B.CUSTOMERNUMBER) + 0.0)/(COUNT(DISTINCT A.CUSTOMERNUMBER) + 0.0) AS RETENTION_RATE --소수점 변환 위해 0.0 붙임

  FROM ORDERS A

  LEFT JOIN ORDERS B
    ON A.CUSTOMERNUMBER = B.CUSTOMERNUMBER
   AND SUBSTR(A.ORDERDATE,1,4)+0 = SUBSTR(B.ORDERDATE,1,4)-1

  LEFT JOIN CUSTOMERS C -- 거주정보
    ON A.CUSTOMERNUMBER = C.CUSTOMERNUMBER
 GROUP BY 1,2
;

     country  YEAR  BU_1  BU_2  RETENTION_RATE
0  Australia  2003     5     3        0.600000
1  Australia  2004     3     2        0.666667
2  Australia  2005     4     0        0.000000
3    Austria  2003     2     1        0.500000
4    Austria  2004     1     1        1.000000
5    Austria  2005     2     0        0.000000
6    Belgium  2003     1     1        1.000000
7    Belgium  2004     2     2        1.000000
8    Belgium  2005     2     0        0.000000
9     Canada  2003     2     2        1.000000
./result/5w/4_1국가별RetentionRate.csv

# 5.Best Seller (실시간)

미국의 연도별 매출 Top5 차량 모델 추출
<br>4개의 테이블의 데이터를 결합하여 추출함

*   미국 정보 : Customers
*   판매 정보 : Orders
*   매출 정보 : OrderDetails
*   차량 정보 : Products

In [54]:
sql = f"""
DROP TABLE IF EXISTS PRODUCT_SALES;
"""
conn.execute(sql)

In [55]:
sql = f"""
CREATE TABLE PRODUCT_SALES AS
SELECT D.PRODUCTNAME
     , SUM(QUANTITYORDERED*PRICEEACH) AS SALES

  FROM ORDERS A

  LEFT JOIN CUSTOMERS B
    ON A.CUSTOMERNUMBER = B.CUSTOMERNUMBER

  LEFT JOIN ORDERDETAILS C
    ON A.ORDERNUMBER = C.ORDERNUMBER

  LEFT JOIN PRODUCTS D
    ON C.PRODUCTCODE = D.PRODUCTCODE
    
 WHERE B.COUNTRY = 'USA'
 GROUP BY 1
;
"""
conn.execute(sql)

In [56]:
sql = f"""
SELECT A.*
  FROM (
SELECT *
     , ROW_NUMBER() OVER(ORDER BY SALES DESC) RNK
  FROM PRODUCT_SALES
     ) A
 WHERE A.RNK <=5
 ORDER BY A.RNK
;
"""
sql_result(sql,'6_0ChurnRate')

SELECT A.*
  FROM (
SELECT *
     , ROW_NUMBER() OVER(ORDER BY SALES DESC) RNK
  FROM PRODUCT_SALES
     ) A
 WHERE A.RNK <=5
 ORDER BY A.RNK
;

DatabaseError: ignored

# 6.Churn Rate(%) (실시간)

*   Churn Rate: 활동 고객 중 얼마나 많은 고객이 비활동 고객으로 전환되었는지를 의미하는 지표
*   기업들은 광고, 프로모션 등을 통해 신규 고객을 유치하는 데 생각보다 큰  Acquisition Cost을 사용함
*   한 번 획득한 고객을 Active로 유지하는 것은 굉장히 중요함

[Churn Rate정의]
*   Churn Rate를 구하기 전에 Churn에 대한 정의가 필요함
*   Churn: max(구매일, 접속일) 이후 일정 기간(ex.3개월) 구매, 접속하지 않은 상태
*   마지막 구매, 접속일이 현재 시점 기준으로 3개월 이상 지난 고객을 의미함
*   전체 고객 중에 Churn에 해당하는 고객의 비중을 Churn Rate(%)라고 함

## 1)Churn Rate(%) 구하기

*   STEP1 : orders 테이블에서 마지막 구매일을 확인함

In [57]:
sql = f"""
SELECT MAX(ORDERDATE) AS MX_ORDER
  FROM ORDERS;
"""
df = pd.read_sql(sql, conn, index_col=None)
df.head(10)

     MX_ORDER
0  2005-05-31

*   STEP2 : 각 고객의 마지막 구매일이 며칠 소요되었는지 산출함

In [58]:
sql = f"""
SELECT CUSTOMERNUMBER
     , MAX(ORDERDATE) MX_ORDER
  FROM ORDERS
 GROUP BY 1;
"""
sql_result(sql,'6_1_2ChurnRate')

SELECT CUSTOMERNUMBER
     , MAX(ORDERDATE) MX_ORDER
  FROM ORDERS
 GROUP BY 1;

   customerNumber    MX_ORDER
0             103  2004-11-25
1             112  2004-11-29
2             114  2004-11-29
3             119  2005-05-31
4             121  2004-11-05
5             124  2005-05-29
6             128  2004-11-05
7             129  2004-11-18
8             131  2004-11-15
9             141  2005-05-31
./result/5w/6_1_2ChurnRate.csv

*   STEP3 : 2005-06-01 기준으로 며칠이 소요되었는지 계산함
*   날짜 차이 계산은 JulianDay('yyyy-mm-dd') - JulianDay('yyyy-mm-dd') 함수를 사용함

In [59]:
sql = f"""
SELECT CUSTOMERNUMBER
     , '2005-06-01' AS END_POINT
     , MX_ORDER
     , JulianDay('2005-06-01') - JulianDay(MX_ORDER) AS DIFF
  FROM (
SELECT CUSTOMERNUMBER
     , MAX(ORDERDATE) MX_ORDER
  FROM ORDERS
 GROUP BY 1
     ) BASE
;
"""
sql_result(sql,'6_1_3ChurnRate')

SELECT CUSTOMERNUMBER
     , '2005-06-01' AS END_POINT
     , MX_ORDER
     , JulianDay('2005-06-01') - JulianDay(MX_ORDER) AS DIFF
  FROM (
SELECT CUSTOMERNUMBER
     , MAX(ORDERDATE) MX_ORDER
  FROM ORDERS
 GROUP BY 1
     ) BASE
;

   CUSTOMERNUMBER   END_POINT    MX_ORDER   DIFF
0             103  2005-06-01  2004-11-25  188.0
1             112  2005-06-01  2004-11-29  184.0
2             114  2005-06-01  2004-11-29  184.0
3             119  2005-06-01  2005-05-31    1.0
4             121  2005-06-01  2004-11-05  208.0
5             124  2005-06-01  2005-05-29    3.0
6             128  2005-06-01  2004-11-05  208.0
7             129  2005-06-01  2004-11-18  195.0
8             131  2005-06-01  2004-11-15  198.0
9             141  2005-06-01  2005-05-31    1.0
./result/5w/6_1_3ChurnRate.csv

*   DIFF(날짜 차이)는 MX_ORDER와 END_POINT의 차이를 나타냄
*   STEP4 : DIFF가 90일 이상인 경우를 Churn이라 가정함

In [60]:
sql = f"""
SELECT *
     , CASE WHEN DIFF >= 90 THEN 'CHURN' ELSE 'NON-CHURN' END AS CHURN_TYPE
  FROM (
SELECT CUSTOMERNUMBER
     , MX_ORDER
     , '2005-06-01' AS END_POINT
     , JulianDay('2005-06-01') - JulianDay(MX_ORDER) AS DIFF
  FROM (
SELECT CUSTOMERNUMBER
     , MAX(ORDERDATE) AS MX_ORDER
  FROM ORDERS
 GROUP BY 1
     ) BASE
     ) BASE
;
"""
sql_result(sql,'6_1_4ChurnRate')

SELECT *
     , CASE WHEN DIFF >= 90 THEN 'CHURN' ELSE 'NON-CHURN' END AS CHURN_TYPE
  FROM (
SELECT CUSTOMERNUMBER
     , MX_ORDER
     , '2005-06-01' AS END_POINT
     , JulianDay('2005-06-01') - JulianDay(MX_ORDER) AS DIFF
  FROM (
SELECT CUSTOMERNUMBER
     , MAX(ORDERDATE) AS MX_ORDER
  FROM ORDERS
 GROUP BY 1
     ) BASE
     ) BASE
;

   CUSTOMERNUMBER    MX_ORDER   END_POINT   DIFF CHURN_TYPE
0             103  2004-11-25  2005-06-01  188.0      CHURN
1             112  2004-11-29  2005-06-01  184.0      CHURN
2             114  2004-11-29  2005-06-01  184.0      CHURN
3             119  2005-05-31  2005-06-01    1.0  NON-CHURN
4             121  2004-11-05  2005-06-01  208.0      CHURN
5             124  2005-05-29  2005-06-01    3.0  NON-CHURN
6             128  2004-11-05  2005-06-01  208.0      CHURN
7             129  2004-11-18  2005-06-01  195.0      CHURN
8             131  2004-11-15  2005-06-01  198.0      CHURN
9             141  2005-05-31  2005-06-01    1.0  NON-CHURN
./result/5w/6_1_4ChurnRate.csv

*   STEP5 : DIFF가 90이상이면 CHURN, 그렇지 않은 경우는 NON-CHURN으로 구분한 결과를 가지고 CHURN RATE(%)를 산출함

*   Churn Rate(%) : 69/(69+29) = 0.70408163265로, 약 70%로 나타남

In [61]:
sql = f"""
SELECT CASE WHEN DIFF >= 90 THEN 'CHURN' ELSE 'NON-CHURN' END AS CHURN_TYPE
     , COUNT(DISTINCT CUSTOMERNUMBER) AS N_CUS

  FROM (
SELECT CUSTOMERNUMBER
     , MX_ORDER
     , '2005-06-01' AS END_POINT
     , JulianDay('2005-06-01') - JulianDay(MX_ORDER) AS DIFF

  FROM (
SELECT CUSTOMERNUMBER
     , MAX(ORDERDATE) AS MX_ORDER
  FROM ORDERS
 GROUP BY 1
     ) BASE

     ) BASE
 GROUP BY 1
;
"""
df = pd.read_sql(sql, conn, index_col=None)
df.head(10)

  CHURN_TYPE  N_CUS
0      CHURN     69
1  NON-CHURN     29

## 2) Churn 고객이 가장 많이 구매한 Productline

*   Churn 고객의 특성을 파악함
*   Churn 고객은 어떤 카테고리의 상품을 많이 구매했는지 파악함

*   STEP1 : 고객별 Churn Table을 생성함

In [62]:
sql = f"""
DROP TABLE IF EXISTS CHURN_LIST;
"""
conn.execute(sql)

In [63]:
sql = f"""
CREATE TABLE CHURN_LIST AS

SELECT CASE WHEN DIFF >= 90 THEN 'CHURN' ELSE 'NON-CHURN' END CHURN_TYPE
     , CUSTOMERNUMBER

  FROM (
SELECT CUSTOMERNUMBER
     , MX_ORDER
     , '2005-06-01' END_POINT
     , JulianDay('2005-06-01') - JulianDay(MX_ORDER) AS DIFF

  FROM (
SELECT CUSTOMERNUMBER
     , MAX(ORDERDATE) AS MX_ORDER
  FROM ORDERS
 GROUP BY 1
     ) BASE

     ) BASE
;
"""
conn.execute(sql)

*   STEP2 : ②ORDERDETAILS - ORDERS - PRODUCTS를 결합해 ①PRODUCTLINE별 구매자 수 산출함
*   ①PRODUCTLINE별 구매자수는 아래와 같이 산출함

In [64]:
sql = f"""
SELECT C.PRODUCTLINE
     , COUNT(DISTINCT B.CUSTOMERNUMBER) AS BU
  FROM ORDERDETAILS A
  LEFT JOIN ORDERS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN PRODUCTS C
    ON A.PRODUCTCODE = C.PRODUCTCODE
 GROUP BY 1
;
"""
sql_result(sql,'6_2_2ChurnRate구매제품')

SELECT C.PRODUCTLINE
     , COUNT(DISTINCT B.CUSTOMERNUMBER) AS BU
  FROM ORDERDETAILS A
  LEFT JOIN ORDERS B
    ON A.ORDERNUMBER = B.ORDERNUMBER
  LEFT JOIN PRODUCTS C
    ON A.PRODUCTCODE = C.PRODUCTCODE
 GROUP BY 1
;

        productLine  BU
0      Classic Cars  94
1       Motorcycles  55
2            Planes  52
3             Ships  51
4            Trains  36
5  Trucks and Buses  50
6      Vintage Cars  90
./result/5w/6_2_2ChurnRate구매제품.csv

*   ② PRODUCTLINE별 구매자수 결과에 CHURN_LIST를 결합 후 Churn Type으로 데이터를 한번 더 그룹함

In [65]:
sql = f"""
SELECT D.CHURN_TYPE
     , C.PRODUCTLINE
     , COUNT(DISTINCT B.CUSTOMERNUMBER) AS BU
  FROM ORDERDETAILS A

  LEFT JOIN ORDERS B
    ON A.ORDERNUMBER = B.ORDERNUMBER

  LEFT JOIN PRODUCTS C
    ON A.PRODUCTCODE = C.PRODUCTCODE

  LEFT JOIN CHURN_LIST D
    ON B.CUSTOMERNUMBER = D.CUSTOMERNUMBER
    
 GROUP BY 1,2
 ORDER BY 1,3 DESC
;
"""
sql_result(sql,'6_2_3ChurnRate구매제품')

SELECT D.CHURN_TYPE
     , C.PRODUCTLINE
     , COUNT(DISTINCT B.CUSTOMERNUMBER) AS BU
  FROM ORDERDETAILS A

  LEFT JOIN ORDERS B
    ON A.ORDERNUMBER = B.ORDERNUMBER

  LEFT JOIN PRODUCTS C
    ON A.PRODUCTCODE = C.PRODUCTCODE

  LEFT JOIN CHURN_LIST D
    ON B.CUSTOMERNUMBER = D.CUSTOMERNUMBER

 GROUP BY 1,2
 ORDER BY 1,3 DESC
;

  CHURN_TYPE       productLine  BU
0      CHURN      Classic Cars  66
1      CHURN      Vintage Cars  63
2      CHURN  Trucks and Buses  36
3      CHURN            Planes  35
4      CHURN       Motorcycles  34
5      CHURN             Ships  33
6      CHURN            Trains  23
7  NON-CHURN      Classic Cars  28
8  NON-CHURN      Vintage Cars  27
9  NON-CHURN       Motorcycles  21
./result/5w/6_2_3ChurnRate구매제품.csv